<p id="notice"><%= notice %></p>
<div class="span9 hero-body">
  <div class="hero-unit">
    Techcrunch Article: <%= link_to @current_article.url, @current_article.url %><br />
    <% @a.each do |article| %>
      <li><% article.slice! 500..-1 %><%= article %></li>
    <% end %>
  </div>
</div>


   