<div class="span9 hero-body">
  <div class="hero-unit">
    <h1>InfoGraphic.ly...</h1>
    <br>
    <h2> A new and exciting way to read, organize, and share what you read!</h2>
    <br>
    <p>InfoGraphic.ly is a beautifully simple content aggregator that uses data visualization to help you make sense of the information you consume online.
    </p>
    <br>
    <p>
      <a class="btn btn-primary btn-large" href="how">Learn More</a>
    </p>
  </div>
</div>