<div class="span9 hero-body">
  <div class="hero-unit">
    <h2>Save</h2>
    <p>Come across a great article, but don't have time to read it? Infographic.ly lets you save articles, videos, and pictures for offline viewing.
    </p>
    <br>
    <h2>Organize</h2>
    <p>Infographic.ly will automatically group classify the data from each article and assign a specific tag like: Business, Sports, and Entertainment. 
    </p>
    <br>
    <h2>Engage</h2>
    <p>Your dashboard shows a high level overview of what you've been reading using cool infographics, that can be shared with friends.
    </p>
  </div>
</div>
